{% extends "layout.html" %}

{% block title %}
    Change your Password
{% endblock %}

{% block name %}
        {{ name[0]["first"] }} {{ name[0]["last"] }}
{% endblock %}

{% block main %}
<form action="/settings/password" method="POST" class="needs-validation" novalidate>
    <div class="container form">
        <h1 class="h3 mb-3 font-weight-normal">Update Your Password</h1>
        <div class="form-group">
            <input type="password" class="form-control" name="old_password" placeholder="Current Password" autocomplete="off" autofocus required>
            <div class="invalid-feedback">
                Please Type Your old Password
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="New Password" onkeyup='check();' id="password" autocomplete="off" required>
            <div class="invalid-feedback">
                Please Type Your new Password
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="confrim_password" onkeyup='check();' placeholder="Confirm New Password" id="confrim_password" autocomplete="off" required>
            <div><span id='message'></span></div>
            <div class="invalid-feedback">
                Please Confirm Your new Password
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Save</button>
    </div>
</form>
{% endblock %}